<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <body>
      <%- include('./partials/_navbar.ejs') %>
      <h1>Welcome to LoadLedger</h1>
      <h3>Say goodbye to spreadsheets and scattered notes!</h3>
    <p>LoadLedger is a powerful, easy-to-use web app built for owner-operators, dispatchers, and fleet managers who need a smarter way to track loads, manage clients, and streamline operations..</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
  </body>
</html>